<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body class="<%=@body_class%>">

    <div class="header">My Messages</div>

    <!-- <div id="message-stream"> -->
    <div id="message-float">
      <%@messages.reverse.each do |msg|%>

      <div class="message">
        <a href="/delete/<%=msg.id%>" class="close"></a>
        <div class="from">
          <%= "#{msg[:from]} messaged #{msg[:to]}" %>
        </div>
        <div class="content">
          <%= msg[:content] %>
        </div>
        <div class="time">
          <%= msg[:created_at].strftime("%b %e, %l:%M %p") %>
        </div>
      </div>
      <% end %>
    </div>
    <div id="form-float">
      <div class="formbox">
        <form action="/submit" method="post">
          To: <input name="to" type="text"><br>
          From: <input name="from" type="text"><br>
          Message: <br>
          <textarea name="content" rows="4"></textarea>
          <input type="submit" value="SUBMIT">
        </form>
      </div>
    </div>
  </body>
</html>
